## AV4 fill missing numbers

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.impute import SimpleImputer, KNNImputer
from sklearn.preprocessing import MinMaxScaler, LabelEncoder

In [2]:
data=pd.read_csv("train.csv")

In [3]:
missing_percent = data.isnull().sum() / len(data) * 100
missing_percent = missing_percent.reset_index().rename(columns={"index": "column", 0: "percent missing"})
missing_percent

         column  percent missing
0   PassengerId         0.000000
1      Survived         0.000000
2        Pclass         0.000000
3          Name         0.000000
4           Sex         0.000000
5           Age        19.865320
6         SibSp         0.000000
7         Parch         0.000000
8        Ticket         0.000000
9          Fare         0.000000
10        Cabin        77.104377
11     Embarked         0.224467

In [4]:
data['Age'].mean()

np.float64(29.69911764705882)

In [5]:
train_copy = data.copy()

In [7]:
#drop any missing value
train_copy.dropna(subset='Age', how='any', inplace=True)
train_copy

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [8]:
train_copy.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          529
Embarked         2
dtype: int64

In [9]:
main_imputer=SimpleImputer(strategy='most_frequent')

In [13]:
train_copy.iloc[:,:]=main_imputer.fit_transform(train_copy)

In [15]:
train_copy

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,B96 B98,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,B96 B98,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,B96 B98,S
...,...,...,...,...,...,...,...,...,...,...,...,...
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,B96 B98,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,B96 B98,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,B96 B98,Q

In [16]:
train_copy.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [17]:
train_copy=data.copy()

#### k=2
#### normalizacija (min max scaler)

In [18]:
from sklearn.preprocessing import MinMaxScaler

In [19]:
train_copy

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [20]:
scaler=MinMaxScaler()
train_copy['Age']=scaler.fit_transform(train_copy['Age'].to_numpy().reshape(-1,1))

In [21]:
train_copy['Age']

0      0.271174
1      0.472229
2      0.321438
3      0.434531
4      0.434531
         ...
886    0.334004
887    0.233476
888         NaN
889    0.321438
890    0.396833
Name: Age, Length: 891, dtype: float64

In [22]:
from sklearn.impute import KNNImputer

In [23]:
imp=KNNImputer(n_neighbors=2)

In [26]:
train_copy['Age']=imp.fit_transform(train_copy['Age'].to_numpy().reshape(-1, 1))

In [27]:
train_copy['Age'].isnull().sum()

np.int64(0)

#### MICE kako daden paket ni sluzi so pomos na round robin pravi regresija na random delcinja od datasetot naogja sredna vrednost i zamen

In [28]:
train_copy=data.copy()

In [29]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [30]:
imp=IterativeImputer(random_state=0)

In [32]:
train_copy['Age']=imp.fit_transform(train_copy['Age'].to_numpy().reshape(-1,1))

In [33]:
train_copy['Age'].isnull().sum()

np.int64(0)

In [34]:
df = pd.read_csv('city_day.csv')

In [35]:
df.isnull().sum()

City              0
Date              0
PM2.5          4598
PM10          11140
NO             3582
NO2            3585
NOx            4185
NH3           10328
CO             2059
SO2            3854
O3             4022
Benzene        5623
Toluene        8041
Xylene        18109
AQI            4681
AQI_Bucket     4681
dtype: int64

In [36]:
#gi zime samo redovite od 50-70
df['Xylene'][50:70]

50     7.48
51    15.44
52     8.47
53    28.46
54     6.05
55     0.81
56      NaN
57      NaN
58      NaN
59     1.32
60     0.22
61     2.25
62     1.55
63     4.13
64      NaN
65     0.39
66     0.63
67     1.35
68     1.74
69     2.78
Name: Xylene, dtype: float64

#### FFILL

In [37]:
df1=df.copy()

In [39]:
# df1.fillna(method="ffill", inplace=True)
df1.ffill(inplace=True)

In [40]:
df1['Xylene'][50:70]

50     7.48
51    15.44
52     8.47
53    28.46
54     6.05
55     0.81
56     0.81
57     0.81
58     0.81
59     1.32
60     0.22
61     2.25
62     1.55
63     4.13
64     4.13
65     0.39
66     0.63
67     1.35
68     1.74
69     2.78
Name: Xylene, dtype: float64

#### BFILL

In [41]:
df['Xylene'][50:70]

50     7.48
51    15.44
52     8.47
53    28.46
54     6.05
55     0.81
56      NaN
57      NaN
58      NaN
59     1.32
60     0.22
61     2.25
62     1.55
63     4.13
64      NaN
65     0.39
66     0.63
67     1.35
68     1.74
69     2.78
Name: Xylene, dtype: float64

In [42]:
df2=df.copy()
df2.bfill(inplace=True)

In [43]:
df2['Xylene'][50:70]

50     7.48
51    15.44
52     8.47
53    28.46
54     6.05
55     0.81
56     1.32
57     1.32
58     1.32
59     1.32
60     0.22
61     2.25
62     1.55
63     4.13
64     0.39
65     0.39
66     0.63
67     1.35
68     1.74
69     2.78
Name: Xylene, dtype: float64

In [47]:
df3=df.copy()
df3.interpolate(limit_direction="both", inplace=True)

C:\Users\imomc\AppData\Local\Temp\ipykernel_16504\2655926014.py:2: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df3.interpolate(limit_direction="both", inplace=True)

In [48]:
df3['Xylene'][50:70]

50     7.4800
51    15.4400
52     8.4700
53    28.4600
54     6.0500
55     0.8100
56     0.9375
57     1.0650
58     1.1925
59     1.3200
60     0.2200
61     2.2500
62     1.5500
63     4.1300
64     2.2600
65     0.3900
66     0.6300
67     1.3500
68     1.7400
69     2.7800
Name: Xylene, dtype: float64

#### CUSTOM ENCODER

In [49]:
data['Embarked'].value_counts()

Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

In [50]:
classes=list(set(data['Embarked']))
classes

['S', nan, 'C', 'Q']

In [51]:
dict={}
for i in range(0,len(classes)):
    dict[classes[i]]=i
dict

{'S': 0, nan: 1, 'C': 2, 'Q': 3}

In [52]:
data['Embarked']=[dict[i] for i in data['Embarked']]

In [53]:
data['Embarked']

0      0
1      2
2      0
3      0
4      0
      ..
886    0
887    0
888    0
889    2
890    3
Name: Embarked, Length: 891, dtype: int64

#### Label Encoder

In [54]:
from sklearn.preprocessing import LabelEncoder

In [55]:
le=LabelEncoder()

In [56]:
data['Sex']=le.fit_transform(data['Sex'])

In [57]:
data['Sex']

0      1
1      0
2      0
3      0
4      1
      ..
886    1
887    0
888    0
889    1
890    1
Name: Sex, Length: 891, dtype: int64

In [58]:
le.classes_

array(['female', 'male'], dtype=object)

#### One hot Encoder

In [59]:
from sklearn.preprocessing import OneHotEncoder

In [60]:
enc=OneHotEncoder(handle_unknown='ignore')

In [61]:
enc_df=pd.DataFrame(enc.fit_transform(data['Sex'].to_numpy().reshape(-1,1)).toarray())

In [62]:
enc_df

       0    1
0    0.0  1.0
1    1.0  0.0
2    1.0  0.0
3    1.0  0.0
4    0.0  1.0
..   ...  ...
886  0.0  1.0
887  1.0  0.0
888  1.0  0.0
889  0.0  1.0
890  0.0  1.0

[891 rows x 2 columns]

#### count vectorizer e slicen so one hot no one hot go zima celoto ko kategorija dodeka ovoj go zima sekoj zbor oddelno

In [63]:
from sklearn.feature_extraction.text import CountVectorizer

In [64]:
v=CountVectorizer()

In [65]:
x=v.fit_transform(data['Name'])

In [66]:
x

<Compressed Sparse Row sparse matrix of dtype 'int64'
	with 3566 stored elements and shape (891, 1509)>

In [67]:
len(v.get_feature_names_out())

1509

In [68]:
pd.DataFrame(x.todense().tolist(),columns=v.get_feature_names_out())

,aaron,abbing,abbott,abelson,abraham,achem,achille,achilles,ada,adahl,...,youseff,yousif,youssef,yousseff,yrois,zabour,zebley,zenni,zillah,zimmerman
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
887,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
888,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
889,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
890,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0